<div>
    <table>
        <tr>
            <td><img src="../images/bacsic_template/Logo.png"s alt=""></td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <div class="dragme">Date</div>
                <div class="dragme">Dear Sir</div>
                <div class="dragme">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti ducimus, nobis? Dolorum vel, quod, consequatur nulla amet libero perferendis laborum culpa aliquam odio omnis ipsum eligendi neque qui sint cupiditate!</div>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>Footer</td>
        </tr>
    </table>
</div>
















