@import url("fonts.css");

body,
html {
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    font-size: 17px;
    background: #f9f9fc;
    font-family: 'OpenSans-Regular', Helvetica, sans-serif;
    overflow-x: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#outlook a {
    padding: 0;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    border-collapse: collapse !important;
}

table,
tr,
td {
    padding: 0;
    vertical-align: top;
    text-align: left;
}

.container {
    max-width: 970px;
}

ul {
    margin: 0px;
    padding: 0px;
}

.arabic {
    direction: rtl;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

a,
img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-user-drag: none;
    -moz-user-drag: none;
    user-drag: none;

    -webkit-touch-callout: none;
    -moz-touch-callout: none;
    touch-callout: none;
}

a:hover {
    text-decoration: none;
}

.logo {
    color: #ffffff;
    font-size: 24px;
    height: 75px;
    line-height: 75px;
}

.logo a {
    color: #fff;
    text-decoration: none;
}

.logo a:hover {
    color: inherit;
}

.username {
    height: 40px;
    float: right;
    line-height: 40px;
    margin-top: 15px;
    padding-right: 10px;
    color: #ffffff;
}

.userPhoto {
    width: 40px;
    height: 40px;
    float: right;
    background: #D8D8D8;
    border-radius: 50%;
    margin-top: 15px;
    position: relative;
}

.userPhoto img {
    border-radius: 50%;
}

.userDropdown {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    right: -9px;
    top: 11px;
    cursor: pointer;
    transition: all ease-in 200ms;
}

.userDropdown:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.15);
}

.userDropdownListWrapper {
    background: #fff;
    position: absolute;
    width: 140px;
    top: 45px;
    padding: 15px;
    left: -43px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    z-index: 1;
    display: none;
}

.userDropdownListWrapper ul li {
    list-style: none;
    padding: 5px 0px;
    border-bottom: 1px solid #ececef;
}

.userDropdownListWrapper ul li:last-child {
    border-bottom: 0px;
}

.userDropdown svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.editTemplate,
.templateGallery {
    display: none;
}

.mainHeader {
    background: #000000;
    /*    height: 75px;*/
    height: auto;
}

.main_container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.mainPageTitle {
    padding-bottom: 45px;
}

.mainPageTitle h2 {
    padding: 0px;
    margin: 0px;
    position: relative;
    color: #0281F8;
    text-transform: uppercase;
    font-size: 24px;
}


.mainPageTitle h2:after {
    content: "";
    width: 32px;
    height: 4px;
    background: #0281F8;
    position: absolute;
    left: 0;
    bottom: -20px;
}

.PageTitle:after {
    content: "";
    display: block;
    clear: both;
}

.PageTitle h2 {
    padding: 7px 0px;
    margin: 0px;
    position: relative;
    color: #0281F8;
    /*    text-transform: uppercase;*/
    font-size: 24px;
}

.PageTitle {
    padding: 15px 0px;
}

.primaryBtn {
    background: #0281F8;
    color: #fff;
    padding: 13px 20px;
    font-size: 12px;
    display: inline-block;
    transition: all ease-in 200ms;
    border: none;
}

.primaryBtn:hover {
    background: #0068ca;
    color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.22);
}

.rightAlignText {
    text-align: right;
}

.dashBoardBtn {
    width: 100%;
    height: 128px;
    background: #0281F8;
    color: #fff;
    line-height: 128px;
    text-align: center;
    font-size: 24px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: all ease-in 200ms;
}

.dashBoardBtn:hover {
    background: #0577e2;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.22);
}

.dashBoardBtn a {
    display: block;
    color: #fff;
}

.section {
    padding-top: 12px;
    padding-bottom: 12px;
}

.section:after {
    content: "";
    display: block;
    clear: both;
}

.dashBoardAnalysisBtn {
    width: 100%;
    background: #fff;
    height: 155px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    color: #BEBEBE;
    text-transform: uppercase;
    padding: 39px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.02);
}

.dashBoardAnalysisBtn h3 {
    color: #0281F8;
    font-size: 40px;
    border-bottom: 1px solid #F4F4F4;
    margin: 0;
    margin-bottom: 7px;
    padding-bottom: 7px;
}

.dashboardTableWrapper {
    overflow-x: auto;
}

.dashboardTable thead {
    background: #0281F8;
    color: #fff;
    text-transform: uppercase;
}

.dashboardTable thead th {
    font-weight: normal;
}

.dashboardTable > thead > tr > th {
    border-bottom: 0px;
    padding: 15px !important;
}

.dashboardTable tbody tr:nth-child(even) {
    background: #fff;
}

.dashboardTable tbody tr:nth-child(odd) {
    background: #F8F8FC
}

.dashboardTable tbody td {
    border-top: 0px !important;
    padding: 15px !important;
}

.templatePageWrapper {
    border-top: 1px solid #ddd;
}

.templateSectionTitle {
    font-size: 18px;
    color: #6E6E6E;
    padding-bottom: 8px;
    text-transform: uppercase;
}

.templateSelectionWrapper {
    background: #EBECF1;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.templateSelectionWrapper:first-child {
    padding-top: 32px;
    background: red;
}

.templatePageWrapper .col-md-6 {
    padding-right: 10px;
    padding-left: 10px;
}

.templateSelectionWrapper h2 {
    margin: 0;
    font-size: 16px;
    color: #6E6E6E;
    position: relative;
    padding: 4px 10px;
}

.templateSelectionWrapper .col-md-6 {
    padding-right: 15px;
    padding-left: 15px;
}

.templateSelectionWrapper h2:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 24px;
    background: #0281F8;
    top: 0px;
    left: 0px;
    border-radius: 2px;
}

.templateSelect {
    padding: 10px 0px;
    transition: all ease-in 200ms;
}

.templateSelect svg {
    transition: all ease-in 200ms;
}

.templateSelect:hover svg {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.22);
}

.EditSectionWrapper {
    width: 620px;
    min-height: 500px;
    height: 100%;
    background: #fff;
    float: left;
    margin-right: 20px;
    position: relative;
    padding: 10px;
}

.EditComponentsWrapper {
    width: 300px;
    height: auto;
    background: #EEEFF7;
    float: left;
    padding-top: 10px;
}



.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: .2em .2em 0;
}

.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    border-bottom-width: 0;
    white-space: nowrap;
    width: 50%;
    text-align: center;

}

.ui-tabs .ui-tabs-nav li a {
    padding: 10%;
    display: inline-block;
    width: 100%;
    color: #A8B3BC;
    border-bottom: 2px solid #D7D9EB;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
    color: #0281F8;
    border-bottom: 2px solid #0281F8;
    outline: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a:visited,
.ui-tabs .ui-tabs-nav li.ui-tabs-active a:focus,
.ui-tabs .ui-tabs-nav li.ui-tabs-active a:active {
    outline: none;
    text-decoration: none;
}

.ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0;
    padding: 0px 10px;
    background: none;
    float: left;
    width: 100%;
}

/**************************/

.componentsItemTitle {
    font-size: 14px;
    color: #8489B0;
    text-transform: uppercase;
    padding: 0px 5px;
}

.text.Components,
.link.Components,
.basic.Components {
    padding-top: 10px;
}

.Components:after {
    content: "";
    display: block;
    clear: both;
}

.ComponentsItem {
    float: left;
    background: #fff;
    margin-bottom: 10px;
    position: relative;
    margin-right: 5px;
    margin-left: 5px;
    /*    transition: all ease-in 100ms;*/
    cursor: move;
}

.ComponentsItem:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.22);
    z-index: 100;
}

.ComponentsItemActive {
    border: 1px dashed #ccc;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.22);
    cursor: move;
}

.ComponentsItemNotActive {
    opacity: 0.7;
}

.ComponentsItem.basicItem {
    width: 130px;
    height: 71px;
}

.Components.basic .ComponentsItem.basicItem:first-child {
    height: 152px;
}

.ComponentsItem img,
.ComponentsItem svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.ComponentsItem.textItem,
.ComponentsItem.mediaItem,
.ComponentsItem.linkItem {
    width: 83px;
    height: 72px;
}

.media.Components {
    overflow: visible;
}

.ComponentsItem.textItem:nth-child(4) {
    width: 176px;
}

.primaryBtn.ComponentsTemplateSave {
    width: 100%;
    margin-top: 15px;
}

.primaryBtn.ComponentsSave {
    width: 100%;
    margin-top: 15px;
}

/**************************************/

.componentsItemColorTitle {
    font-size: 14px;
    color: #0281F8;
    text-transform: uppercase;
    padding: 0px 5px;
    margin-bottom: 8px;
}

.componentsItemFontTitle {
    font-size: 14px;
    color: #0281F8;
    padding: 0px 5px;
    margin-bottom: 8px;
}

.colorPickerWrapper {
    background: #fff;
    height: 48px;
    padding: 8px;
    margin-bottom: 32px;
}

.colorPickerWrapper input[type="color"] {
    display: block;
    width: 32px;
    height: 32px;
    float: left;
    top: 0;
    left: 0;
    background: transparent;
    padding: 0;
    -webkit-appearance: none;
    border: none;
    outline: none;
}

.colorPickerWrapper input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

.colorPickerWrapper input[type="color"]::-webkit-color-swatch {
    border: 1px solid #D8D8D8;
}

.colorPickerWrapper input[type="text"] {
    background: #fff;
    border: none;
    height: 32px;
    padding-left: 10px;
    color: #ADB0C7;
    width: 82px;
}

.fontCustomWrapper:after {
    content: "";
    clear: both;
    display: block;
}

.fontCustom-6 {
    float: left;
    width: 50%;
    padding: 5px;
}

.fontCustomWrapper .componentsItemFontTitle {
    padding: 0px;
}

.fontPickerWrapper select,
.fontSizeWrapper select {
    border: none;
    height: 48px;
    width: 100%;
    padding: 5px;
    color: #ADB0C7;
}

.componentsItemPaddingTitle {
    font-size: 14px;
    color: #727272;
    padding: 0px;
    margin-bottom: 8px;
}

.PaddingWrapper input[type="number"] {
    border: none;
    height: 48px;
    width: 100%;
    padding: 5px;
    color: #ADB0C7;
}

.EditSectionWrapper table {
    height: 100%;
}

.EditSectionWrapper:empty {
    min-height: 500px;
}

.EditSectionWrapper table td {
    position: relative;
}

.EditSectionWrapper > table > thead > tr > td,
.EditSectionWrapper > table > tbody > tr > td,
.EditSectionWrapper > table > tfoot > tr > td {
    border: 1px dashed #d8d8d8;
}

.EditSectionWrapper > table > thead > tr > td:empty,
.EditSectionWrapper > table > tbody > tr > td:empty,
.EditSectionWrapper > table > tfoot > tr > td:empty {
    border: 1px dashed #0381f8;
    height: 100px;
    position: relative;
}

.EditSectionWrapper table td#bt-3col-side-left table,
.EditSectionWrapper table td#bt-3col-side-center table,
.EditSectionWrapper table td#bt-3col-side-right table,
.EditSectionWrapper table td#bt-head table,
.EditSectionWrapper table td#bt-body table,
.EditSectionWrapper table td#bt-footer table {
    border-spacing: initial !important;
    border-collapse: separate;
}


.EditSectionWrapper table td#bt-3col-side-left:empty:before,
.EditSectionWrapper table td#bt-3col-side-center:empty:before,
.EditSectionWrapper table td#bt-3col-side-right:empty:before,
.EditSectionWrapper table td#bt-head:empty:before,
.EditSectionWrapper table td#bt-body:empty:before,
.EditSectionWrapper table td#bt-footer:empty:before {
    content: "Drag it here";
    display: block;
    position: absolute;
    color: #3FA9F5;
    line-height: normal;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    padding: 2% 0;
}

.EditSectionWrapper table td:focus:after,
.EditSectionWrapper table td:hover:after {
    content: "";
    background: #0381f8;
    color: #fff;
    font-size: 12px;
    top: -28px;
    right: -1px;
    position: absolute;
}

.EditSectionWrapper table td#bt-head:empty:focus:after,
.EditSectionWrapper table td#bt-head:empty:hover:after {
    content: "Header Section";
    padding: 5px;
}

.EditSectionWrapper table td#bt-body:empty:focus:after,
.EditSectionWrapper table td#bt-body:empty:hover:after {
    content: "Body Section";
    padding: 5px;
}

.EditSectionWrapper table td#bt-footer:empty:focus:after,
.EditSectionWrapper table td#bt-footer:empty:hover:after {
    content: "Footer Section";
    padding: 5px;
}


.EditSectionWrapper table td#bt-3col-side-left:empty:focus:after,
.EditSectionWrapper table td#bt-3col-side-left:empty:hover:after {
    content: "body Left Side";
    padding: 5px;
}

.EditSectionWrapper table td#bt-3col-side-center:empty:focus:after,
.EditSectionWrapper table td#bt-3col-side-center:empty:hover:after {
    content: "body Center Side";
    padding: 5px;
}

.EditSectionWrapper table td#bt-3col-side-right:empty:focus:after,
.EditSectionWrapper table td#bt-3col-side-right:empty:hover:after {
    content: "body Right Side";
    padding: 5px;
}

.removeBtn {
    position: absolute;
    top: 10px;
    left: -20px;
    display: none;
}

.removeBtn button {
    border: 0px;
    background: #0581f8;
    outline: none;
    color: #fff;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 22px;
    padding: 0px;
    margin: 0px;
}

table.delete:hover .removeBtn {
    display: block;
}

.EditSectionWrapper > table > thead > tr > td.ui-droppable-hover,
.EditSectionWrapper > table > tbody > tr > td.ui-droppable-hover,
.EditSectionWrapper > table > tfoot > tr > td.ui-droppable-hover {
    border: 1px solid #0381f8;
}

/*
.EditSectionWrapper:empty{
    background: red !important;
}*/

.StackedListWrapper {
    height: 100%;
}

.EditSectionWrapper .StackedList {
    position: relative;
    width: 100%;
    height: auto;
    display: inline-block;
}

td .StackedList:empty {
    position: relative;
    min-height: 500px;
    padding: 20px;
    text-align: center;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQYV2NkQAVSjEh8KQYGhmcwATAHJAkSgHNAAgBJbgMfurLMvgAAAABJRU5ErkJggg==")repeat;
}

td .StackedList:empty:before {
    content: "Drop here";
    padding: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #8a8a8a;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.Components.StackedList {
    height: auto;
}

.StackedList li {
    list-style: none;
}