.dragme {
    position: relative;
    border: 1px dotted transparent;
}

.dragme:hover {
    border: 1px dotted #0281F8;
}

.dragme:hover .dragHoverEditWrapper{
    display: block;
}

.dragHoverEditWrapper {
    background: #fff;
    width: 73px;
    height: 38px;
    position: absolute;
    top: -38px;
    right: -1px;
    border-top: 1px solid #0281F8;
    border-bottom: 1px solid #0281F8;
    display: none;
}

.dragHoverEditBtnBox {
    width: 50%;
    height: 36px;
    float: left;
    border-right: 1px solid #0281F8;
    border-left: 1px solid #0281F8;
    cursor: pointer;
    position: relative;
}

.dragHoverEditBtnBox:last-child {
    border-left: 0px;
}

.dragHoverEditBtnBox img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}