body {
    direction: rtl;
}

#my-slide .title,
.mrhe_logo {
    text-align: left;
}

.switch,
.service_scroll,
.applyServiceWrapper input[type="submit"],
.applyServiceWrapper .checkSwitch .switch,
.infoMeterialsScrolling .download,
.breadcrumbSection ol,
.tab_ser_buttonWrapper input,
.androidBut,
.home_section_left_inside,
.social_in,
.nav_side {
    float: left;
}

.search_box input[type="search"] {
    float: right;
    background: url(../../images/search_but.png) no-repeat center left #fff;
}

.top {
    left: 15px;
}

.applyServicestext,
.viewServicestext,
.applyServicesIcon,
.viewServicesIcon,
.infoMeterialsScrolling .name,
.infoMeterialsScrolling .logo,
.projectThumbNai,
.social_fliter2,
.happy_icons,
.share_icons,
.banner_popupTitle i,
.footer_nav ul li,
.initiative_right,
.initiative_center,
.initiative_left,
.home_section2_left,
.home_section2_right,
.servicesBox_link .Icons,
.servicesBox_link .serviceCard,
.hscroll_link .Icons,
.hscroll_link .serviceCard,
.androidBut i,
.iphoneBut i,
.service_scrollBox,
.home_section1_left,
.home_section1_right,
.nav_setting_section,
.nav_section,
.social_fliter,
.social_title,
.header_social,
.setting_icons,
.login_wrapperInn_section,
.news_img,
.sttiing ul li,
.search_box input[type="submit"],
.head_icons {
    float: right;
}

.setting_close {
    left: 10px;
}

.news_contant {
    float: right;
    padding-right: 2%;
}

.news_date {
    right: 0px;
    text-align: center;
}

.social_section {
    left: 0;
    right: auto;
}

.hscroll_contantIcon {
    left: 10px;
    right: auto;
}

.homeServices .resp-tabs-list li {
    border-left: 1px solid #ddd;
    border-right: none;
}

.homeServices .resp-tab-active {
    border-left: 1px solid #ddd !important;
    border-right: none;
}

.share_wrapper {
    right: -128px;
    left: auto;
}

.share_wrapperOpen {
    right: 0;
    left: auto;
}

.share_head {
    left: 0;
    right: auto;
    transform: scaleX(-1);
}

.home_services_more {
    left: 25px;
}

.home_section_left_inside {
    padding-left: 25px;
}

.androidBut i,
.iphoneBut i {
    margin-right: 15px;
}

.login_wrapper,
.setting_wrapper {
    left: 72px;
}

.setting_wrapper:before {
    left: -15px;
    transform: rotate(-41deg);
}

.login_wrapper:before {
    left: -18px;
    transform: rotate(-41deg);
}

.social_fliter_wrapper {
    left: 78px;
}

.social_fliter_wrapper:before {
    left: -18px;
    transform: rotate(-41deg);
}

.social_fliter_wrapper_inn ul li:nth-child(2).activeTick {
    background: url(../../images/tick.png) no-repeat 10% center #39abe6 !important;
    color: #fff;
}

.social_fliter_wrapper_inn ul li:nth-child(3).activeTick {
    background: url(../../images/tick.png) no-repeat 10% center #2f3da5 !important;
    color: #fff;
}

.social_fliter_wrapper_inn ul li:nth-child(4).activeTick {
    background: url(../../images/tick.png) no-repeat 10% center #835620 !important;
    color: #fff;
}

.social_fliter_wrapper_inn ul li:nth-child(5).activeTick {
    background: url(../../images/tick.png) no-repeat 10% center #f43e3e !important;
    border-radius: 0px 0px 10px 10px;
    color: #fff;
}

.login_wrapperInn_title1 {
    border-radius: 0px 5px 0px 0px;
}

.login_wrapperInn_contantCus {
    border-radius: 0px 5px 5px 0px;
}

.login_wrapperInn_contantCont {
    border-radius: 5px 0px 0px 5px;
}

.login_wrapperInn_title2 {
    border-radius: 5px 0px 0px 0px;
}

.login_wrapperCustLogo {
    right: 50%;
    margin-right: -63px
}

.login_wrapperInn_imageWrapperCust {
    margin-left: 10px;
    background: url(../../images/couple_bg.jpg) no-repeat right top;
}

.login_wrapperInn_imageWrapperCont {
    margin-left: 10px;
    background: url(../../images/contractor_bg.jpg) no-repeat left top;
}

.ManagementBoardImg1 {
    width: 144px;
    height: 144px;
    top: -50px;
    right: 68px;
    left: 0;
    bottom: 0;
}

.ManagementBoardImg2 {
    width: 50px;
    height: 50px;
    top: 70px;
    right: 300px;
}

.ManagementBoardImg3 {
    width: 75px;
    height: 75px;
    top: 300px;
    right: 0;
}

.ManagementBoardImg4 {
    width: 112px;
    height: 112px;
    top: 360px;
    right: 185px;
}

.ManagementBoardImg5 {
    width: 75px;
    height: 75px;
    top: -30px;
    left: 195px;
    bottom: 0;
}

.ManagementBoardImg6 {
    width: 112px;
    height: 112px;
    top: 65px;
    left: 0px;
}

.ManagementBoardImg7 {
    width: 50px;
    height: 50px;
    top: 283px;
    left: 180px;
}

.ManagementBoardImg8 {
    width: 144px;
    height: 144px;
    top: 423px;
    left: 0;
    bottom: -38px;
}

.StrategyColumn ul li:after {
    font-family: FontAwesome;
    content: "\f00c";
    padding-left: 15px;
    color: #376a93;
}

.breadcrumbSection ol li:after {
    display: inline-block;
    padding-left: 15px;
    color: #ffffff;
    content: "/";
   transform: scaleX(-1);
   -webkit-transform: scaleX(-1);
}
.breadcrumbSection ol li:first-child:before{
    margin-left: 14px;
}

/***************TREE*************/

.tree {
    padding-top: 60px;
    font-size: 20px;
}

.childWrapper {
    display: inline-block;
    width: 100%;
    position: relative;
    margin-bottom: 57px
}

.childWrapper:after,
.tree:after {
    content: "";
    clear: both;
    display: block;
}

.tree .main {
    width: 275px;
    height: 66px;
    margin: auto;
    position: relative;
    border: 1px solid #02426e;
    border-bottom: 8px solid #005b99;
    margin-bottom: 66px;
    color: #005b99;
    display: table;
}

.tree .child span,
.tree .main span {
    display: table-cell;
    vertical-align: middle;
}

.tree .main:after {
    content: "";
    width: 2px;
    height: 66px;
    position: absolute;
    background: #005b99;
    display: block;
    left: 50%;
    bottom: -74px
}

.tree .child {
    width: 275px;
    height: 66px;
    border: 1px solid #02426e;
    border-bottom: 8px solid #3f3f3f;
    display: table;
}

.tree .child.left {
    float: right;
}

.tree .child.center {
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.tree .child.center:before {
    content: "";
    width: 158px;
    height: 2px;
    top: 0;
    background: #005b99;
    display: block;
    right: -159px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.tree .child.center:after {
    content: "";
    width: 158px;
    height: 2px;
    top: 0;
    background: #005b99;
    display: block;
    left: -159px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.tree .child.right {
    float: left;
}

.childWrapper:after {
    content: "";
    width: 2px;
    height: 66px;
    position: absolute;
    background: #005b99;
    display: block;
    left: 50%;
    bottom: -65px
}

.childWrapper:last-child:after {
    display: none;
}

.treeCenterBox {
    width: 453px;
    height: 378px;
    background: #31719f;
    margin: auto;
    border-radius: 10px;
    padding: 57px 0px;
    transform: skewX(5deg);
    text-align: start;
    margin-bottom: 99px
}

.treeCenterBox:after {
    content: "";
    width: 2px;
    height: 100px;
    transform: skewX(-5deg);
    position: absolute;
    background: #005b99;
    display: block;
    right: 58.6%;
    bottom: -100px;
}

.treeCenterBox .box1 {
    background: #f8f8f8;
    width: 352px;
    float: left;
    margin-right: -1px;
    top: 0;
    border-radius: 0px 10px 10px 0px;
    padding: 10px 25px;
    color: #005b99;
}

.treeCenterBox .box2 {
    background: #404040;
    width: 312px;
    float: left;
    top: 0;
    color: #fff;
    border-radius: 0px 0px 10px 0px;
    padding: 10px 25px;
}

.treeCenterBox .box1 ul,
.treeCenterBox .box2 ul {
    transform: skewX(-5deg);
}

.tree .childBottom {
    width: 275px;
    height: 66px;
    display: table;
    text-align: start;
    transform: skewX(5deg);
    background: #f8f8f8;
    border-radius: 10px;
    padding-bottom: 15px;
    border: 2px solid #eeeeee;
}

.tree .childBottom h1 {
    background: #404040;
    color: #fff;
    font-size: 20px;
    padding: 15px;
    margin: 0px;
    border-radius: 10px 10px 0px 0px;
}

.tree .childBottom h2 {
    background: #31719f;
    color: #fff;
    font-size: 18px;
    padding: 15px;
    margin: 0px;
}

.tree .childBottom.left {
    float: right;
    position: relative;
}

.tree .childBottom.left:before {
    content: "";
    width: 2px;
    height: 66px;
    top: 0;
    background: #005b99;
    display: block;
    left: 50%;
    top: -66px;
    position: absolute;
    transform: skewX(-5deg);
}

.tree .childBottom.center {
    position: absolute;
    left: 50%;
    transform: skewX(5deg);
    margin-left: -137px;
}

.tree .childBottom.center:before {
    content: "";
    width: 861px;
    height: 2px;
    background: #005b99;
    display: block;
    right: -296px;
    left: 100%;
    top: -66px;
    position: absolute;
}

.tree .childBottom.center:after {
    content: "";
    width: 2px;
    height: 66px;
    top: 0;
    background: ;
    display: block;
    left: 50%;
    top: -33px;
    transform: translateY(50%);
    position: absolute;
}

.tree .childBottom.right {
    float: left;
    position: relative;
}

.tree .childBottom.right:before {
    content: "";
    width: 2px;
    height: 66px;
    background: #005b99;
    display: block;
    left: 50%;
    top: -66px;
    position: absolute;
    transform: skewX(-5deg);
}

.childBottom .listNormal li {
    padding-right: 20px;
    font-size: 18px;
}
.fa-arrow-right:before {
    content: "\f060";
}
.fa-arrow-left:before {
    content: "\f061";
}

.contactFormWrapper select,
.applyServiceWrapper select {
    background: url("../../images/selectArrow.svg") no-repeat left;
    -webkit-appearance: none;
    background-position-x: 3%;
}
.applyServicestext,
.viewServicestext {
    padding-right: 15px;
}
.servicesBox_contantIcon {
    left: 10px;
}
.servicesSearch .btn {
    border-right: 0px;
}
.resp-arrow {
    float: left;
}
li .listNum li{
    margin-right: 0px;
}
.listNum li {
    list-style:arabic-indic;
    margin-right: 15px;
}
/********************MEDIAQUERY********************/
@media screen and (max-width: 1200px) {
    
    .setting_wrapper {
        width: 450px;
        height: auto;
        right: 50%;
        padding: 10px;
        margin-right: -225px;
    }
    
    .login_wrapper {
        width: 650px;
        height: auto;
        right: auto;
        padding: 10px;
        right: 50%;
        margin-right: -414px;
    }
}

@media screen and (max-width: 1199px) {
    .tree .child.center:before {
        width: 62px;
        right: -61px;
    }
    .tree .child.center:after {
        width: 62px;
        left: -60px;
    }
    .tree .childBottom.center:before {
        width: 661px;
        right: -194px;
    }
}

@media screen and (max-width: 991px) {

    .treeCenterBox {
        transform: none;
        position: relative;
    }
    .tree .child {
        width: 200px;
    }
    .tree .childBottom {
        width: 200px;
        transform: none;
    }
    .tree .childBottom.center {
        transform: none;
        margin-left: -100px;
    }
    .tree .childBottom.right:before,
    .tree .childBottom.left:before {
        transform: none;
    }
    .tree .childBottom.center:before {
        width: 522px;
        right: -163px;
    }
    .treeCenterBox:after {
        right: 50%;
        transform: none;
    }
}

@media screen and (max-width: 769px) {

.login_wrapper {
        margin-right: -147px;
    }
    .setting_wrapper {
        margin-right: -100px;
    }
    .nav_side {
        float: right;
        margin: auto;
    }
    
    .ManagementBoardImg1 {
        top: 0px;
        right: 0;
    }
    .ManagementBoardImg2 {
        top: 454px;
        right: 0;
    }
    .ManagementBoardImg3 {
        top: 344px;
        right: 0;
    }
    .ManagementBoardImg4 {
        top: 192px;
        right: 0;
    }
    .ManagementBoardImg5 {
        top: 344px;
        left: 0;
    }
    .ManagementBoardImg6 {
        top: 192px;
        left: 0;
    }
    .ManagementBoardImg7 {
        top: 454px;
        left: 0;
    }
    .ManagementBoardImg8 {
        top: 0;
        left: 0;
    }
}

@media screen and (max-width: 670px) {
.ManagementBoardImg1,
    .ManagementBoardImg2,
    .ManagementBoardImg3,
    .ManagementBoardImg4 {
        position: static;
        float: right;
    }
    .ManagementBoardImg5,
    .ManagementBoardImg6,
    .ManagementBoardImg7,
    .ManagementBoardImg8 {
        position: static;
        float: left;
    }
    
    .tree .childBottom.center:after {
        top: -27px;
        height: 21px;
        background: #31719f;
    }
}